body {
    -ms-overflow-style: hidden;
    -webkit-app-region:drag;
    background-color: #8BC34A;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="range"],
button,
select,
.tableContainer,
.date,
.bootstrap-datetimepicker-widget,
#newReminderModal,
.modal-trigger,
.sidebar-nav li:not(.sidebar-brand),
textarea {
	-webkit-app-region: no-drag;
}

h1, h2, h3, h4, h5, h6, span, p {
    -webkit-user-select: none;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}

#title{
	color : #fff;
}

input, button, textarea,.sidebar_brand, :focus {
    outline: none;
}

#floatingIcon {
	bottom: 25px;
    right: 25px;
    position: absolute;
    cursor: pointer;
}

#closeIcon {
	top: 15px;
    right: 15px;
    position: absolute;
    cursor: pointer;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 12px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 25px;
}

/* Scroll */
#allRemList {
    overflow: auto;
    height: 425px;
}

.displayNone {
  display: none;
}

#savedAlert{
  position: absolute;
  width: 80%;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 0px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}