body {
    -ms-overflow-style: hidden;
    -webkit-app-region:drag;
    background-color: #8BC34A;
    font-family: 'Lato-Regular', sans-serif;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato-Regular.ttf'); 
  src: 
    local('Lato-Regular'),
    url('fonts/Lato-Regular.ttf') 
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="range"],
button,
select,
i,
#allCategories,
#settingsDiv,
.colorpicker,
.noDrag,
.cPicker,
.tableContainer,
.date,
.bootstrap-datetimepicker-widget,
#newReminderModal,
#newCategoryModal,
#alertNotify,
.modal-trigger,
.sidebar-nav li:not(.sidebar-brand),
textarea {
	-webkit-app-region: no-drag;
}

h1, h2, h3, h4, h5, h6, span, p, i {
    -webkit-user-select: none;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}

#title{
	color : #fff;
}

input, button, textarea,.sidebar_brand, :focus {
    outline: none;
}

#floatingIcon, #newCatBtn {
	  bottom: 25px;
    right: 25px;
    position: fixed;
    cursor: pointer;
}

#closeIcon {
	top: 15px;
    right: 15px;
    position: fixed;
    cursor: pointer;
}

.pointerCursor {
  cursor: pointer;
}

.flRight{
  float: right;
}

.mLeft {
  margin-left: 10px;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 12px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 25px;
}

/* Scroll */
#allRemList {
    overflow: auto;
}

.displayNone {
  display: none;
}

.alertDiv{
  position: absolute;
  width: 80%;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 0px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.itemHeader, .catHeader {
  font-weight: bold;
  display: inline-block;
}

.editBtn{
  margin-left: 5px;
  display: none;
}

h5:hover + .editBtn {
  display: inline-block;
}


.category {
    position: relative;
    float: right;
}

.alarmIcon {
    position: relative;
    float: right;
    top: -12px;
    right: 20px;
}

.trashIcon {
    position: relative;
    float: right;
    top: -12px;
    right: -14px;
}

.editIcon {
    position: absolute;
    top: 15px;
    left: 15px;
}

.smodal-header {
  padding: 10px 10px 10px 10px;
}

.smodal-body {
  padding: 10px 10px 0px 10px;
}

.smodal-footer{
  padding: 10px 10px 10px 10px;
  border: 0px;
}

.checkBoxImg {
    position: absolute;
    top: 23px;
    left : 10px;
    font-size: larger;
}

.statusC {
  color : #8BC34A;
}

.statusI {
  color : #dfe2df;
}

.itemCont {
  margin-left: 24px;
}

/* First child of reminder list */
.list-group-item:first-child {
  border-top-color: white !important;
  border-top-left-radius: 0px !important;
}

div#allCategories .list-group-item:first-child {
    border-top-left-radius: 4px !important;
}

ul.nav.nav-tabs li>a {
    color: #333;
}

.nav-tabs>li>a {
    background-color: #cde4b2;
    border: 1px solid #cde4b2;
    border-bottom-color: #cde4b2;
}

.nav-tabs>li>a:hover {
    border-bottom-color: #fff;
}

.topPadding {
  padding-top: 7px;
}

#allCategories{
  clear: both;
}

.catTrashIcon {
    position: relative;
    padding: 8px;
    float: right;
    top: -2px;
    right: -8px;
}

.upHeader{
    background-color: #efefec;
    padding-top: 5px;
    padding-bottom: 5px;
}

#todayRemList {
  margin-bottom: 0px !important;
}

.inlineRight{
  display: inline-block;
  float: right;
}

.paddingTop10{
  padding-top: 10px;
}

.paddingTop8 {
  padding-top: 8px;
}

.headerLine{
  text-align: center;
  font-size: x-large;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebarSpan{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.heightDiv{
    height: 142px;
    padding-top: 0px !important;
}

.settingsEntry{
    padding: 6px;
    margin: 5x;
    border-top-width: 0px;
    border-top-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(255, 255, 255);
}