<h1>Category</h1>
			    
<div class="tableContainer" id="allReminders">

	<div class="list-group" id="allRemList" >
		<a class="list-group-item itemToggle pointerCursor" data-toggle="collapse" data-target="#collapseExample0" aria-expanded="false" aria-controls="collapseExample">
			<div>
				<div class="category label label-success">
					Entertainment
				</div>

				<h4 class="ist-group-item-heading itemHeader">One <span class="glyphicon glyphicon-edit " /></h4>
				<p class="list-group-item-text">10/15/2016 8:52 PM</p>
				<span class="glyphicon glyphicon-bell alarmIcon" />
				<span class="glyphicon glyphicon-trash trashIcon" />
			</div>
			<div class="collapse" id="collapseExample0">
				<div>This is a line</div>
			</div>
		</a>

	</div>

<script type="text/javascript">
	enableEditReminder();
</script>
</div>

