<div class="modal-content">
<h5>Add Reminder</h5>
<div class="row">
    <form id="newReminderForm" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <input id="task_name" type="text" class="validate">
          <label for="task_name">Task Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">toc</i>
          <select id="categorySelect"></select>
          <label>Category</label>
        </div>
        <script>
          loadSelectBox();
        </script>
      </div>
      <div class="row">
        <div class="input-field col s6">
      		<i class="material-icons prefix">today</i>
      		<input type='text' class="form-control" id='datetimepicker' />
      		<label for="datetimepicker">Remind On</label>
        </div>
        <script type="text/javascript">
            jQuery('#datetimepicker').datetimepicker({
      				minDate:0
      			});
        </script>
        <div class="input-field col s2">
          <i class="material-icons prefix">add_alert</i>
          <label>Alarm</label>
        </div>
        <div class="input-field col s4">
          <div class="switch">
            <label>
              Off
              <input id="alarm" type="checkbox" checked="true">
              <span class="lever"></span>
              On
            </label>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">note_add</i>
          <textarea id="notes" placeholder="Additional notes" class="materialize-textarea"></textarea>
          <label for="notes">Notes</label>
        </div>
      </div>
    </form>
</div>
</div>
<div class="modal-footer">
  <a href="#!" id="saveBtn" class=" modal-action waves-effect waves-green btn-flat">Save</a>
  <a href="#!" id="cancelBtn" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
</div>