<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="alert" id="newCategoryModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header smodal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add Category</h4>
        </div>
        <div class="modal-body smodal-body">
          <form class="form-horizontal">
            <div class="form-group ">
                <div class="row col-lg-10">
                  <div class="col-sm-12 has-feedback">
                    <label class="control-label required">Category Name</label>
                    <input id="newCatName" type="text" class="form-control">
                  </div>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer smodal-footer">
            <button id="cancelBtn" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="saveCat" type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
  </div>
  <script>
    enableAddCategory();
  </script>
</div>