<div class="headerLine">UPCOMING</div>
<div class="tableContainer">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#upRemList" aria-controls="allRemList" role="tab" data-toggle="tab">UPCOMING</a></li>
        <li role="presentation"><a href="#overRemList" id="overDueHeader" aria-controls="compRemList" role="tab" data-toggle="tab">OVERDUE</a></li>
    </ul>
    <div class="tab-content">
        <div class="list-group tab-pane active" id="upRemList">
            <div class="list-group tab-pane active" id="todayRemList"></div>
            <div class="list-group tab-pane active" id="weekRemList"></div>
        </div>
        <div class="list-group tab-pane" id="overRemList" ></div>
    </div>
  <script>
    updateUpComingResources();
    $(document).on("click", ".itemToggle", function(){
        $(this).children(".collapse").collapse("hide");
    });
  </script>
</div>